{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7", "not ie <= 10"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "codegen",
    "array-includes",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [["emotion", { "sourceMap": true, "autoLabel": true }]]
    },
    "production": {
      "plugins": [["emotion", { "hoist": true }]]
    }
  }
}
