{
    "parser": "babel-eslint",
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["react-hooks"],
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-var": "error",
        "linebreak-style": "off",
        "react/prop-types": "off",
        "import/no-named-as-default": "off",
        "comma-dangle": "off",
        "spaced-comment": "off",
        "arrow-body-style": "warn",
        "semi": "off",
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-console": ["error", { "allow": ["warn", "error", "log"] }],
        "react-hooks/rules-of-hooks": "error",
        "jsx-a11y/label-has-for": [
            2,
            {
                "components": ["Label"],
                "required": {
                    "every": ["nesting", "id"]
                },
                "allowChildren": false
            }
        ],
        "no-unused-expressions": ["error", { "allowTaggedTemplates": true }]
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "document": true,
        "describe": true,
        "it": true,
        "expect": true,
        "css": true,
        "PropTypes": true,
        "React": true,
        "styled": true,
        "injectGlobal": true,
        "PureComponent": true,
        "Component": true,
        "withRouter": true,
        "codegen": true
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "configs/webpack/base.js"
            }
        }
    }
}
