.ListWrapper {
  width: 340px; height: 630px;
  position: absolute;
  overflow-y: scroll;
  z-index: 99;
  bottom: 0; left: 25px;
  opacity: .75;
  background-color: white;
}

.ListWrapper:hover {
  opacity: 1;
}

.List {
  width: 340px;
  /* margin-top: 34px; */
}

.List li {
  padding: 15px 0px;
  margin: 0 18px;
  border-bottom: 1px solid #141414;
}

.List li h1 {
  font-size: 23px;
  margin-bottom: 4px;
}

.List li a p {
  font-size: 14px;
  font-family: 'OpenSansRegular', sans-serif;
}

.List li a {
  color: #141414;
  font-family: 'OpenSansSemibold', sans-serif;
}

.List li .description {
  margin-top: 20px;
  font-family: 'Georgia', serif;
}

.List li .description:before {
  content: '“'
}

.List li .description:after {
  content: '”'
}

.ListWrapper .Header {
  display: flex;
  position: static;
  width: 340px;
  background-color: white;
  justify-content: space-around;
}

.ListWrapper .Header button {
  width: 50%;
  height: 38px;
  font-size: 16px;
  opacity: .5;

  background: none;
  border: 0;
}

.ListWrapper .Header button.active {
  opacity: 1;
  color: #da032c;
  border-bottom: 3px solid #da032c;
}