.SurveyCreatorWrapper {
  opacity: .75;
  width: 310px;
  position: absolute;
  right: 25px; top: 88px;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.SurveyCreatorWrapper:hover {
  opacity: 1;
}

.SurveyCreatorWrapper header {
  font-family: 'OpenSansSemibold';
  color: #C1272D;
  background-color: white;
  margin-bottom: 15px;
  padding: 16px;
  width: 100%;
}

.SurveyCreatorWrapper .choices {
  width: 100%;
  margin-bottom: 10px;
}

.SurveyCreatorWrapper .choices li {
  width: 100%;
  padding: 0 16px;
  
  background-color: white;
}

.SurveyCreatorWrapper .choices li button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #C1272D;
}

.SurveyCreatorWrapper form {
  width: 100%;
  margin-bottom: 10px;
}

.SurveyCreatorWrapper form input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  padding-left: 5px;
}


.SurveyCreatorWrapper .choices li:hover .icon-close {
  color: #C1272D;
}

.SurveyCreatorWrapper .choices li:hover {
  text-decoration: line-through;
}

.SurveyCreatorWrapper .btns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SurveyCreatorWrapper .btns button {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
}

.SurveyCreatorWrapper .btns button.create {
  color: green;
  border-color: green;
}

.SurveyCreatorWrapper .btns button.cancel {
  color: #C1272D;
  border-color: #C1272D;
}

.SurveyCreatorWrapper .btns button:hover {
  background-color: rgba(255, 255, 255, .7);
}



.SurveyDisplayWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.SurveyDisplayWrapper h1 {
  font-size: 40px;
  font-family: 'OpenSansSemibold';
  color: #131313;
  margin-bottom: 15px;
  align-self: center;
}

.SurveyDisplayWrapper .proposals {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.SurveyDisplayWrapper .proposals li {
  margin-bottom: 10px;
}

.SurveyDisplayWrapper .proposals li button {
  font-size: 27px;
  border: 2px solid #C1272D;
  padding: 5px;
}

.SurveyDisplayWrapper .proposals li button[disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.SurveyDisplayWrapper .proposals li button:hover {
  background-color: #C1272D;
  color: white;
}

.SurveyDisplayWrapper .VoteConfirmationContainer b {
  font-family: 'OpenSansSemibold';
}

.SurveyDisplayWrapper .VoteConfirmationContainer {
  display: flex;
  align-self: center;
  flex-direction: row;
  font-size: 35px;
  justify-content: center;
  margin-top: 15px;
  position: relative;
  padding-top: 10px;
}

.SurveyDisplayWrapper .VoteConfirmationContainer .icon-checkmark {
  color: green;
}

.SurveyDisplayWrapper .VoteConfirmationContainer:before {
  content: '';
  display: block;
  width: 40px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
}

.SurveyDisplayWrapper .VoteConfirmationContainer p {
  margin-left: 15px;
}
