.ItineraryWrapper {
  width: 340px; height: 85%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 99;
  bottom: 0; left: 25px;
  opacity: .75;
  
}

.ItineraryWrapper:hover {
  opacity: 1;
}


.ItineraryWrapper header {
  background-color: white;
  width: 100%;
  max-height: 95px;
  /* text-align: center; */
}

.ItineraryWrapper header h1 {
  font-size: 23px;
  margin-bottom: 4px;
  font-family: 'OpenSansSemibold', sans-serif;
}

.ItineraryWrapper header p {
  font-family: 'OpenSansRegular', sans-serif;
  font-size: 12px;
  /* white-space: nowrap; */
}

.ItineraryWrapper header section {
  padding: 16px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #141414;
  display: flex;
  justify-content: space-between;
}

.ItineraryWrapper .itinerary-steps {
  margin-top: 30px;
  background-color: white;
}

.ItineraryWrapper .itinerary-steps header {
  padding-top: 16px;
  margin-bottom: 10px;
}

.ItineraryWrapper .itinerary-steps header h1 {
  font-family: 'OpenSansSemibold';
  margin-left: 16px;
  font-size: 17px;
}

.ItineraryWrapper .itinerary-steps header p, .ItineraryWrapper .itinerary-steps header abbr {
  font-family: 'OpenSansSemibold';
  margin-left: 16px;
  font-size: 12px;
}

.ItineraryWrapper .icon-close {
  color: black;
}

.ItineraryWrapper .icon-close:hover {
  color: #da032c;
}



.ItineraryWrapper .itinerary-steps li {
  padding: 15px 0px;
  margin: 0 18px;
  border-bottom: 1px solid #141414;
  position: relative;
  overflow: hidden;
  pointer-events: none;
}

.ItineraryWrapper .itinerary-steps li:before {
  content: attr(data-order);
  font-size: 100px;
  font-family: 'OpenSansRegular';
  opacity: .19;
  top: -5px;
  position: absolute;
  color: #da032c;
}

.ItineraryWrapper .itinerary-steps li .infos {
  margin-top: 7px;
  font-size: 14px;

}
