@font-face {
    font-family: 'gb-icons';
    src: url('assets/fonts/gb-icons.ttf?lyjghu') format('truetype'),
        url('assets/fonts/gb-icons.woff?lyjghu') format('woff'),
        url('assets/fonts/gb-icons.svg?lyjghu#gb-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'gb-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-itinerary:before {
    content: '\e906';
}
.icon-survey-add:before {
    content: '\e903';
}
.icon-survey-del:before {
    content: '\e904';
}
.icon-survey:before {
    content: '\e905';
}
.icon-close:before {
    content: '\e902';
}
.icon-fav-no:before {
    content: '\e901';
}
.icon-fav:before {
    content: '\e900';
}
.icon-website:before {
    content: '\e9c9';
}
