@font-face {
  font-family: 'OpenSansLight';
  src: url('./fonts/OpenSans-Light-webfont.eot');
  src: url('./fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/OpenSans-Light-webfont.woff') format('woff'),
       url('./fonts/OpenSans-Light-webfont.ttf') format('truetype'),
       url('./fonts/OpenSans-Light-webfont.svg#open_sanslight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('./fonts/OpenSans-Regular-webfont.eot');
    src: url('./fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('./fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('./fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('./fonts/OpenSans-Semibold-webfont.eot');
    src: url('./fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('./fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('./fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6wgd3n');
  src:  url('fonts/icomoon.eot?6wgd3n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6wgd3n') format('truetype'),
    url('fonts/icomoon.woff?6wgd3n') format('woff'),
    url('fonts/icomoon.svg?6wgd3n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-survey-add:before {
  content: "\e903";
}
.icon-survey-del:before {
  content: "\e904";
}
.icon-survey:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e902";
}
.icon-fav-no:before {
  content: "\e901";
}
.icon-fav:before {
  content: "\e900";
}
.icon-warning:before {
  content: "\e907";
}
.icon-checkmark:before {
  content: "\e906";
}


@media (max-width: 600px) {
  body {
    overflow: hidden;
  }
}