a.reset, button.reset {
  appearance: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  background: none;
  border: 0;
}

sup {
  vertical-align: super;
}

body {
  font-family: 'OpenSansRegular', sans-serif;
}