a.reset, button.reset {
  appearance: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  background: none;
  border: 0;
}

sup {
  vertical-align: super;
}

body {
  font-family: 'OpenSansRegular', sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

#header {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'OpenSansSemibold';
  margin-bottom: 5px;
}

#header img {
  margin-bottom: 5px;
}

#header a {
  text-align: center;
  color: black;
  text-decoration: none;
}

#header a:hover {
  color: #C1272D;
}


button:disabled {
  cursor: not-allowed;
  opacity: .6;
}