a.reset, button.reset {
  appearance: none;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  background: none;
  border: 0;
}

sup {
  vertical-align: super;
}

body {
  font-family: 'OpenSansRegular', sans-serif;
  display: flex;
  flex-direction: column;
}

#header {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'OpenSansSemibold';
  margin-bottom: 5px;
}

#header img {
  margin-bottom: 5px;
}